.outer-container {

    background: url("https://res.cloudinary.com/dqoxgromg/image/upload/v1721155712/carmine-savarese-KVVpx8M10OY-unsplash_ebmlqm.jpg") no-repeat center center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: #f0f0f0; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
  }
  